<div class="container">
    <div class="row">
        <% @power_generators.each do |power_generator| %>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <%= image_tag power_generator.image_url, class: 'power_generator-card__img' %>
                            <h5 class="text-center card-title"><%= power_generator.name.upcase %></h5>
                            <h5 class="text-center card-price"><%= number_to_currency(power_generator.price, unit: "R$ ", precision: 2, :separator => ",", :delimiter => ".") %></h5>
                            <p class="card-text">
                                <%= power_generator.description %>
                            </p>
                    </div>

                    <div class="input-group mb-3 div-cep">
                        <form class="form-inline" action="/freight">
                            <input class="form-control input-cep" size="9" type="text" name="cep" placeholder="CEP">
                             <input type="hidden" name="id_generator" value="<%= power_generator.id %>">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-cep btn-outline-secondary" data-toggle="modal" type="submit" data-target="#modalExemplo">Calcular Frete</button>
                        </form>
                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Calculo de Frete</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                               
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                    <button type="button" class="btn btn-primary">Calcular</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% end %>
    </div>
</div>
<div class="container">
    <%= paginate @power_generators, theme: 'twitter-bootstrap-4' %>
</div>