<div class="container">
    <div class="row">
        <% @power_generators.each do |power_generator| %>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <%= image_tag power_generator.image_url, class: 'power_generator-card__img' %>
                            <h5 class="text-center card-title"><%= power_generator.name.upcase %></h5>
                            <h5 class="text-center card-price"><%= number_to_currency(power_generator.price, unit: "R$ ", precision: 2, :separator => ",", :delimiter => ".") %></h5>
                            <p class="card-text">
                                <%= power_generator.description %>
                            </p>
                    </div>

                    <div class="input-group mb-3 div-cep">
                        <form class="form-inline" action="/freight">
                            <input class="form-control input-cep" size="9" type="text" name="cep" placeholder="CEP">
                            <input type="hidden" name="id_generator" value="<%= power_generator.id %>">
                            <div class="input-group-append">
                                 <button class="btn btn-cep my-2 my-sm-0" type="submit">Calcular Frete</button>
                        </form>
                        </div>
                    </div>

  
                </div>
            </div>
            <% end %>
    </div>
</div>
<div class="container">
    <%= paginate @power_generators, theme: 'twitter-bootstrap-4' %>
</div>