<!DOCTYPE html>
<html>
  <head>
    <title>Portal Solar - Dev Test</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.png' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
  </head>
  <header>
<div class="container">
<nav class="navbar navbar-light">
<a class="navbar-brand" href="/">
<%= image_tag("ps_logo.png", :class => "logo") %>
</a>
<div class="navbar-right">
 <form class="form-inline" action="/search">
    <input class="form-control mr-sm-2" type="search" name="keywords" placeholder="Pesquisar" aria-label="Pesquisar">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
  </form>
  </div>
</header>
  <body>
    <%= yield %>
  </body>
</html>
